
/* Section -2 */
.boxed-about-home {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.about-homeimages {
  display: flex;
  flex-direction: row; /* Default side by side for larger screens */
  align-items: center; /* Center vertically */
  max-width: 1200px;
  margin: 0 auto;
}

.column {
  flex: 1;
}

.left-column img {
  max-width: 100%;
  height: auto;
}

.right-column {
  background: white;
  padding: 20px;
}

.right-column h3 {
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}

.right-column p {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .about-homeimages {
    flex-direction: column; /* Stack elements on top of each other for small screens */
  }
  
  .column {
    width: 100%;
  }
  
  .right-column {
    align-items: center; /* Center content vertically for small screens */
  }
}
